.App{
    margin: 5rem auto;
    width: 30rem;  
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.16), 0 0 0 0.05rem rgba(0, 0, 0, 0.08);
            box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.16), 0 0 0 0.05rem rgba(0, 0, 0, 0.08);
}