.Btn__Restart{
    height: 100%;
    width: 100%;
    color: #14bdac;
    background-color: #f8f8f8;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.Btn__Restart:focus {
    outline: none;
}

.Container-Btn__restart{
    border-radius: 0.5rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0.01rem 0.01rem rgba(0,0,0,.16);
            box-shadow: 0 0.01rem 0.01rem rgba(0,0,0,.16);
    background-color: #f8f8f8;

    &:active{
        -webkit-box-shadow: 0 0.15rem 0.15rem rgba(0,0,0,.16);
                box-shadow: 0 0.15rem 0.15rem rgba(0,0,0,.16);
    }
}